flask==2.2.3
flask-cors==3.0.10
flask-socketio==5.3.3
requests==2.28.2
numpy==1.24.2
pandas==1.5.3
websocket-client==1.5.1
python-socketio==5.8.0
python-engineio==4.4.0
simple-websocket==0.10.0
openpyxl==3.1.2
matplotlib==3.7.1
eventlet==0.33.3